<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
                               /// COME BACK TO THIS TO MAKE A LEAVE A COMMENT BUTTON
  </p>
</div>
